<%- include("../partials/header") %>

    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
          <div class="timeline-cover">
            <% if(user.cover_image) { %>
              <img src="<%= user.cover_image %>" class="cover-photo">
              <% } %>
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
              <div class="row">
                <div class="col-md-3">
                  <div class="profile-info">
                    <% if(user.image_url) { %>
                      <img src="<%= user.image_url %>" alt="" class="img-responsive profile-photo" />
                      <% } else { %>
                      <img src="/images/dp.png" alt="" class="img-responsive profile-photo" />
                      <% } %>
                    <h3><a href="/profile/<%= user.id %>" ><%= user.username %></a></h3>
                    <p><%= user.email %></p>
                    <% if (currentuser != undefined) { %>
                        <% if(user.id === currentuser.id) { %>
                            <a href="/profile/<%= user.id %>/edit" class="btn btn-primary">Edit profile</a>
                        <% } %>
                        <% } %>
                    <!-- <p class="text-muted">Creative Director</p> -->
                  </div>
                </div>
                <div class="col-md-9">
                  <ul class="list-inline profile-menu">
                    <li><a href="/profile/<%= user.id %>">About</a></li>
                    <li><a href="/profile/<%= user.id %>/album" class="active">Album</a></li>
                    <li><a href="/profile/<%= user.id %>/friends">Friends</a></li>
                  </ul>
                  <ul class="follow-me list-inline">
                    <li><%= friend_count %> Friends</li>
                    <% if(currentuser.id != user.id) { %>
                      <li><button class="btn-primary">Add Friend</button></li>
                    <% } %>
                  </ul>
                </div>
               </div>
            </div>
            </div>
            <div id="page-contents">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-7">
                    <% if(element.length == 0) {%>
                        <h1>No Posts yet</h1>
                    <% } else { %>
                    <div class="row">
                        <% element.map((e)=>{ %>
                            <div class="col-md-4">
                                <div class="album-display">
                                    <a href="/posts/<%= e.post_id %>">
                                    <% if( e.post_image) { %>
                                    <img src="<%= e.post_image %>" alt="photo" />
                                    <% } else { %>

                                    <img src="/images/no_image.jpg" alt="photo" />

                                    <% } %>
                                    </a>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <!-- </ul> -->
                    <% } %>

                </div>
            </div>
            </div>

<%- include("../partials/footer") %>
